@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100vw;
  overflow-x: hidden !important;
}

.container {
  width: 95%;
}

.navlinks {
  @apply px-[20px] py-[10px] font-medium cursor-pointer relative text-[#3F82D7];
}

.homehero {
  background-image: url("../public/images/heroimg.webp");
  height: 92vh;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width:780px) {
  .homehero {
    background-position: 40% 1px;
  }
}

@media (min-width:780px) and (max-width:1100px) {
  .homehero {
    background-position: 40% 0px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

select {
  @apply focus:outline-0
}

.getintouch {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("../public/images/getintouch.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Default position for larger screens */
}

/* Medium devices */
@media (max-width: 1100px) {
  .getintouch {
    background-position: center center;
  }
}

/* Small devices */
@media (max-width: 768px) {
  .getintouch {
    background-position: center bottom;
  }
}

.working {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public//images//working.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}